<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DbServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.DbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AptmtServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.AptmtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.MedicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndServlet</servlet-name>
        <servlet-class>edu.smartpital.controller.EndServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbServlet</servlet-name>
        <url-pattern>/DbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AptmtServlet</servlet-name>
        <url-pattern>/AptmtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicServlet</servlet-name>
        <url-pattern>/MedicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndServlet</servlet-name>
        <url-pattern>/EndServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
